* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

:root {
  --body: 18px;
  --h2: 30px;
  --color: #333333;
}

.container {
  max-width: 1420px;
  margin: auto;
}

.header {
  display: flex;
  background-color: aqua;
  justify-content: center;
  font-size: var(--h2);
  color: #333333;
  padding: 20px;
}

.body {
  justify-content: center;
  display: flex;
  padding: 40px;
}

.form {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--body);
}

input,
textarea {
  padding: 12px 24px;
  font-size: var(--body);
  border-radius: 4px;
}

button {
  padding: 12px 24px;
  font-size: var(--body);
  color: var(--color);
  border-radius: 4px;
  border: 2px solid lightseagreen;
  cursor: pointer;
  background-color: lightgreen;
}
