.container {
  display: flex;
  max-width: 50vw;
  justify-content: center;
  padding: 1rem;
  margin: 0 auto;
}

.form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #fff;
}

.form-element > input {
  padding: 1rem;
  font-size: inherit;
  width: 100%;
}

.form-element > input:focus {
  outline: none;
}

.submit {
  padding: 0.8rem 1.4rem;
  font-size: inherit;
  cursor: pointer;
  background-color: beige;
}

.buttons {
  display: flex;
  gap: 1rem;
}
